<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docu Flow</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='/css/constructor_explained.css') }}">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favicon.ico') }}">
</head>

<body>
    <nav>
        <a href="/"><img src="/static/images/logo.png" class="logo"/></a>
    </nav>

    <div class="info">
        <p>Це твій документ (для пояснення виділи текст та натисни кнопку пояснити)</p>
        <a class="back_button" href="/">
             <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l4 4" /><path d="M5 12l4 -4" /></svg>
             Додому
         </a>
    </div>
    <div class="split_line"></div>

    <div class="get_explain">
        <a href="/constructor/{{document_name}}">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
            Закрити
        </a>
    </div>
    <div class="split_line"></div>

    <div class="explain_container active">
        <h2>Пояснення усього тексту</h2>
        <p class="explain_document">{{explain_document}}</p>
        <div class="split_line"></div>
        <h2>Вибраний текст</h2>
        <p class="explain_part">{{explain_part}}</p>
        <div class="split_line"></div>
        <h2>Пояснення</h2>
        <p class="explain_result">{{explain_result}}</p>
    </div>
    

    <div class="pop_up_message_background">
        <div class="pop_up_message">
            <h1></h1>
            <div>
                <a class="cancel" onclick="hideBanner()">Ок</a>
            </div>
        </div>
    </div>

    <script>
        function formatText() {
            const contentDiv = document.getElementById('content');
            let text = contentDiv.innerText.trim();
            
            if (text.startsWith('###')) {
                text = text.replace('###', '').trim();
                contentDiv.innerHTML = `<h1>${text}</h1>`;
            }
        }

        function replaceBold(text) {
            return text.replace(/\*\*(.*?)\*\*/g, '<strong>$1</strong>');
        }

        document.querySelector('.explain_document').innerHTML = replaceBold(`{{explain_document|safe}}`);
        document.querySelector('.explain_part').innerHTML = replaceBold(`{{explain_part|safe}}`);
        document.querySelector('.explain_result').innerHTML = replaceBold(`{{explain_result|safe}}`);

        if ("{{warning_title}}"!=""){
            document.querySelector('.pop_up_message_background').style.display = 'flex';
            document.querySelector('.pop_up_message_background h1').innerText = "{{warning_title}}";
        }

        function hideBanner(){
            document.querySelector('.pop_up_message_background').style.display = 'none';
        }
    </script>

</body>

</html>