<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docu Flow</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='/css/constructor.css') }}">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favicon.ico') }}">
</head>

<body>
    <nav>
        <a href="/"><img src="/static/images/logo.png" class="logo"/></a>
    </nav>

    <div class="info">
        <p>Це твій документ (для пояснення виділи текст та натисни кнопку пояснити)</p>
        <a class="back_button" href="/">
             <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l4 4" /><path d="M5 12l4 -4" /></svg>
             Додому
         </a>
    </div>
    <div class="split_line"></div>

    <div class="get_explain">
        <a onclick="explain()">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-info-circle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" /><path d="M12 9h.01" /><path d="M11 12h1v4h1" /></svg>
            Пояснити
        </a>
        <a onclick="share()">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-share"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M18 6m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M18 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M8.7 10.7l6.6 -3.4" /><path d="M8.7 13.3l6.6 3.4" /></svg>
            Поділитись
        </a>
    </div>
    <div class="split_line"></div>
    <form class="text_container" method="post">
        <input type="hidden" name="part" class="part">
        <textarea name="text">
            {{document_text}}
        </textarea>
    </form>
    

    <div class="pop_up_message_background">
        <div class="pop_up_message">
            <h1></h1>
            <div>
                <a class="cancel" onclick="hideBanner()">Ок</a>
            </div>
        </div>
    </div>

    <script>
        const textarea = document.querySelector('textarea');
    
        window.onload = function() {
            if (sessionStorage.getItem('textareaScroll')) {
                textarea.scrollTop = sessionStorage.getItem('textareaScroll');
            }
        };
    
        textarea.addEventListener('scroll', function() {
            sessionStorage.setItem('textareaScroll', textarea.scrollTop);
        });

        if ("{{warning_title}}"!=""){
            document.querySelector('.pop_up_message_background').style.display = 'flex';
            document.querySelector('.pop_up_message_background h1').innerText = "{{warning_title}}";
        }

        function hideBanner(){
            document.querySelector('.pop_up_message_background').style.display = 'none';
        }

        function explain(){
            let textarea = document.querySelector('textarea');
            let start = textarea.selectionStart;
            let end = textarea.selectionEnd;

            let selectedText = textarea.value.substring(start, end);

            document.querySelector('.part').value = selectedText

            textarea.setSelectionRange(start, end);

            var form = document.querySelector('form');
            form.action = `/explain_constructor/{{document_name}}`;
            form.submit();
        }

        async function share(){
            let text = document.querySelector('textarea').value;
            const blob = new Blob([text], { type: 'text/plain' });
            const file = new File([blob], 'shared_text.txt', { type: 'text/plain' });

            if (navigator.canShare && navigator.canShare({ files: [file] })) {
                try {
                    await navigator.share({
                        files: [file],
                        title: 'Share document',
                        text: 'Document {{document_name}}',
                    });
                    console.log('File shared successfully');
                } catch (error) {
                    console.error('Error sharing file:', error);
                }
            } else {
                alert('Sharing not supported on this browser or device.');
            }
        }
    </script>

</body>

</html>