<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docu Flow</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='/css/explanation.css') }}">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favicon.ico') }}">
</head>

<body>
    <nav>
       <a class="back_button" href="/"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l4 4" /><path d="M5 12l4 -4" /></svg></a>
       <h2>Пояснення документа</h2>
    </nav>
    <form method="POST" enctype="multipart/form-data">
        <div class="choose_file_content">
            <header>
                <h4>Вибери документ тут</h4>
            </header>
            <p>Достуані формати: PDF, TEXT, DOCX</p>
            <input type="file" hidden accept=".txt,.docx,.pdf" name="document" onchange="upload_template(this)">
            <button type="button" class="choose_file_button" onclick="this.parentElement.querySelector('input').click()">Вибри документ</button>
        </div>
        <button type="submit">
            Пояснити
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#fff"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M13 18l6 -6" /><path d="M13 6l6 6" /></svg>
        </button>
    </form>

    <div class="pop_up_message_background">
        <div class="pop_up_message">
            <h1></h1>
            <div>
                <a class="cancel" onclick="hideBanner()">Ок</a>
            </div>
        </div>
    </div>

    <script>
        if ("{{warning_title}}"!=""){
            document.querySelector('.pop_up_message_background').style.display = 'flex';
            document.querySelector('.pop_up_message_background h1').innerText = "{{warning_title}}";
        }

        function hideBanner(){
            document.querySelector('.pop_up_message_background').style.display = 'none';
        }

        function upload_template(document) {
            document.parentElement.querySelector('h4').innerHTML = document.files[0].name;
        }
    </script>

</body>

</html>